.header7 {
}
.Container7 {
  height: 85vh;
  position: relative;
  padding: 0 20px;

  /* .video__box {
  width: 100%;
  height: 100%;
  
}
video {
  width: 100%;
  height: 100%;
} */
  .backGround {
    background-image: url("./../../../public//images/mount.jpg");
    background-size: fill;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.backGround::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  z-index: 50;
}
.navBar {
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.Logo {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
}

.navbar_items {
  display: flex;
  list-style: none;
  padding: 10px;
  color: rgb(251, 251, 251);
}

.navbar__item {
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.2s;
  padding: 5px 10px;
  cursor: pointer;
}
.navbar__item:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.text7 {
  width: 40%;
  position: absolute;
  z-index: 100;
  /* background-color: red; */
  top: 30%;
  padding: 20px 0;
}
.text7 p {
  color: #fff;
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: 600;
}
.text7.title {
  color: white;
  font-weight: bold;
}

.Btn7 {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.Btn7:hover {
  background-color: #000000ab;
  color: white;
}
